body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 16px;
}

header {
    background-color: #67b8e3;
    /* Mã màu xanh dương nhạt */
    color: #fff;
    padding: 18px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 30px;
}

nav {
    background-color: #f9ca24;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}


nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    background-color: #fff;
}

main {
    flex: 1;
    max-width: 1200px;
    margin: 0px auto;
    padding: 20px;
}

p {
    line-height: 1.5;
}

h2 {
    color: #333;
    font-size: 24px;
    margin-top: 20px;
}

ul {
    margin-left: 20px;
}

footer {
    background-color: #7a7a7a;
    /* Mã màu vàng nhạt */
    color: #fff;
    padding: 10px;
    text-align: center;
    bottom: 0;
    /* position: fixed;
    width: 100%; */
}

footer p {
    margin: 0;
}

.hidden {
    display: none;
}

#trang-chu img {
    width: 300px;
    height: auto;
    float: left;
    margin-right: 20px;
}

/* hiển thị trên điện thoại */
@media (max-width: 1400px) {
    nav {
        font-size: 16px;
    }

    main {
        font-size: 16px;
    }

    #trang-chu img {
        width: 50%;
        float: left;
    }

    header {
        padding: 13px;
    }
}

/* hiển thị trên máy tinh */
@media (min-width: 1400px) {
    nav {
        font-size: 16px;
    }

    main {
        font-size: 16px;
    }

    header {
        padding: 18.5px;
    }
}

.nav-menu li {
    position: relative;
}

.nav-menu .submenu {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #f9ca24;
    /* Màu nền của submenu */
    white-space: nowrap;
}

.nav-menu .submenu li {
    padding: 12px;
}

.nav-menu li:hover>.submenu {
    display: block;
}


/* CSS để định dạng nút */
.scroll-to-top {
    display: none;
    /* Ẩn ban đầu */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #555;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;

}

.scroll-to-top:hover {
    background-color: #777;
}

/* CSS để thay đổi hiển thị của nút thành mũi tên */
.scroll-to-top::before {
    content: '\2191';
    /* Mã Unicode cho mũi tên lên */
}


/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
html {
    font-family: Arial, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


h2,
h3,
h4 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}


.col-xs-4,
.col-xs-12 {
    float: left;
}

.col-xs-12 {
    width: 100%;
}

.col-xs-4 {
    width: 33.33333333%;
}

@media (min-width: 768px) {

    .col-sm-4,
    .col-sm-6,
    .col-sm-8,
    .col-sm-12 {
        float: left;
    }

    .col-sm-12 {
        width: 100%;
    }

    .col-sm-8 {
        width: 66.66666667%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-4 {
        width: 33.33333333%;
    }
}

@media (min-width: 992px) {

    .col-md-3,
    .col-md-4,
    .col-md-6,
    .col-md-8,
    .col-md-9 {
        float: left;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-8 {
        width: 66.66666667%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-4 {
        width: 33.33333333%;
    }

    .col-md-3 {
        width: 25%;
    }
}

@media (min-width: 992px) {
    .navbar {
        border-radius: 4px;
    }
}



@media (min-width: 992px) {

    .container>.navbar-header,
    .container>.navbar-collapse {
        margin-right: 0;
        margin-left: 0;
    }
}

.navbar-static-top {
    z-index: 1000;
    border-width: 0 0 1px;
}

@media (min-width: 992px) {
    .navbar-static-top {
        border-radius: 0;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md-block {
        display: block !important;
    }

    .visible-sm-block {
        display: none !important;
    }
}

@media (min-width: 1200px) {
    .visible-lg-block {
        display: block !important;
    }

    .visible-sm-block {
        display: none !important;
    }
}

@media (max-width: 767px) {
    .hidden-xs {
        display: none !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .hidden-sm {
        display: none !important;
    }

}

@media (min-width: 992px) and (max-width: 1199px) {
    .hidden-md {
        display: none !important;
    }
}

@media (min-width: 1200px) {
    .hidden-lg {
        display: none !important;
    }
}

* {
    margin: 0;
}

a {
    color: #4e4e4e;
}

.form-control {
    box-shadow: none;
}

.form-control {
    box-shadow: none;
}

h2,
h3,
h4 {
    margin: 0;
    padding: 0;
    font-size: inherit;
    display: inline-block;
}

.list {
    display: table;
    text-align: left;
}

.list h3 {
    display: inline;
}

.col-truyen-main,
.col-info-desc,
#list-chapter {
    padding: 0;
}

.col-truyen-side .list {
    background-color: #ecf0f1;
    border: 1px solid #d9e1e4;
}

.col-truyen-side .list.list-side {
    background-color: transparent;
    border: 0;
}

.list>.row {
    display: table-row;
    font-family: "Roboto Condensed", Tahoma, sans-serif;
    font-size: 15px;
}

.col-truyen-side .list>.row {
    background-color: #ecf0f1;
}

.col-truyen-side .list.list-side>.row {
    background-color: transparent;
}

.title-list>h2,
.title-list>h4 {
    font-family: "Roboto Condensed", Tahoma, sans-serif;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid #4e4e4e;
}

@media only screen and (max-width: 991px) {
    .col-truyen-side {
        clear: both;
    }

}

.list>.row>div {
    height: 40px;
    line-height: 40px;
    border-left: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc;
    overflow: hidden;
}

.list>.row:last-child>div {
    border-bottom: 0 !important;
}

.list-side>.row>div {
    height: 49px !important;
    line-height: 17px !important;
    padding: 6px 10px 0 !important;
    font-size: 12px;
}



.list-side>.row>div .top-num.top-1 {
    color: #fff;
    border: #e74c3c solid 1px;
    background-color: #e74c3c;
}

.list-side>.row>div .top-num.top-2 {
    color: #fff;
    background-color: #5eb949;
    border-color: #5eb949;
}

.list-side>.row>div .top-num.top-3 {
    color: #fff;
    border: #5cabb8 solid 1px;
    background-color: #5cabb8;
}

.list-side>.row>div div {
    display: block !important;
}

.list-side>.row>div div.s-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
}

.list-side h3 a {
    color: #083767;
    font-size: 15px;
}

.list>.row>div:first-child {
    border-left: 0;
    padding-left: 0;
}

.list .glyphicon-chevron-right {
    font-size: 12px;
    color: #8e8c8c;
}

.list>.row>div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.col-truyen-side .list>.row>div {
    max-width: 270px;
    padding: 0;
}

#truyen {
    font-size: 13px;
}

.info-holder {
    padding: 0;
}

.info-holder .info {
    padding: 5px;
    margin-top: 5px;
    margin-right: 15px;
    border-right: 1px solid #ddd;
    font-family: "Roboto Condensed", Tahoma, sans-serif;
}

.info-holder .info div {
    margin: 0 0 5px;
}

.info-holder .info h3 {
    text-align: right;
    margin-right: 5px;
    font-weight: 700;
}

.info-holder .info span.source {
    word-wrap: break-word;
}

.desc {
    padding: 0 15px;
    text-align: center;
}

.col-info-desc h3.title {
    font-size: 24px;
    margin: 0 0 5px;
    line-height: 35px;
    border-bottom: 1px solid #b5b5b5;
    text-transform: uppercase;
    font-family: "Roboto Condensed", Tahoma, sans-serif;
    float: right;
    width: 68%;
    text-align: center;
}

.desc .desc-text {
    margin-top: 10px;
    height: 204px;
    font-size: 12px;
    overflow: hidden;
    text-align: left;
    font-family: "Arial", sans-serif;
}

.desc .showmore {
    text-align: right;
    position: relative;
    height: 22px;
}

.desc .l-chapter {
    text-align: left;
}

.info-holder .rate {
    margin-top: 5px;
    float: left;
}

.rate-holder,
.rate-text {
    display: inline-block;
}

.rate-text {
    margin-left: 5px;
    padding-top: 3px;
    position: absolute;
    width: 100px;
    text-align: left;
}

.l-chapter .l-chapters,
.list-chapter {
    list-style: none;
    padding-left: 15px;
    text-align: left;
    font-family: "Roboto Condensed", Tahoma, sans-serif;
}

.l-chapter .l-title {
    font-size: 16px;
    text-transform: uppercase;
    font-family: "Roboto Condensed", Tahoma, sans-serif;
    height: 30px;
    line-height: 30px;
    width: 100%;
    margin: 15px 0 10px;
    border-bottom: 1px solid #ccc;
}

.l-chapter .l-title>h3 {
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #000;
}

.l-chapter .l-chapters>li,
.list-chapter>li {
    padding: 5px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.l-chapter .l-chapters>li>span,
.list-chapter>li>span {
    font-size: 10px;
    line-height: 17px;
    vertical-align: top;
}

.l-chapter .l-chapters>li>a,
.list-chapter>li>a {
    font-size: 15px;
    line-height: 18px;
    display: inline;
    margin: 0;
}

#list-chapter {
    background-color: #f4f4f4;
    text-align: center;
    margin-top: 10px;
}

.title-list {
    text-align: left;
    height: 40px;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
    position: relative;
}

#truyen .title-list,
.list-side .title-list {
    margin-bottom: 15px;
}

.col-info-desc {
    margin-bottom: 5px;
}

#list-chapter>.row {
    margin: 0;
}

.page-nav .dropdown-menu {
    padding: 0;
    border: 0;
}

.book img {
    max-width: 100%;
}

.no-padding {
    padding: 0;
}

@media all and (-webkit-min-device-pixel-ratio: 0) and (max-width: 480px) {
    .form-control {
        font-size: 16px !important;
    }

    .col-truyen-side .list.list-similar {
        background: none;
        border: none;
        display: block;
    }

    .col-truyen-side .list.list-similar>.row {
        background: none;
        display: block;
        margin: 0;
    }

    .col-truyen-side .list.list-similar>.row>div {
        max-width: 100%;
    }
}

@media all and (min-width: 768px) {
    .form-control {
        font-size: 14px;
    }

    .books {
        padding-left: 15px;
    }

    .book img {
        width: 70%;
        height: auto;
    }

    .desc {
        margin-top: 50px;
    }

    .info-holder .rate {
        position: absolute;
        right: -330px;
        text-align: center;
        top: 0;
    }
}

@media all and (min-width: 992px) {
    .dropdown-menu>li {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .col-truyen-main {
        width: 73%;
    }

    .col-truyen-side {
        width: 27%;
        padding: 0 0 0 7.5px;
    }

    .info-holder {
        width: 32%;
    }

    .col-info-desc h3.title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .desc {
        width: 68%;
        padding: 0 15px 0 0;
    }

    .info-holder .rate {
        top: 35px;
    }

    .col-truyen-side .list.list-truyen {
        margin: 10px 0;
        padding-right: 14px;
        padding-left: 14px;
    }
}

@media all and (min-width: 1025px) {
    .list {
        border: 0;
    }

    .list .glyphicon-chevron-right {
        font-size: 14px;
    }
}

@media all and (min-width: 1200px) {
    .info-holder .rate {
        right: -380px;
    }

    .book {
        display: inline-block;
        margin: 10px;
    }

    .book img {
        vertical-align: middle;
        border: 1px solid #000;
        height: 324px;
        width: 221px;
    }

    .csstransforms3d .books {
        margin: 15px auto 30px;
        padding-left: 0;
        position: relative;
        z-index: 1;
        -moz-perspective: 300px;
        -moz-transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
    }

    .csstransforms3d .book {
        position: relative;
        transform: perspective(300px) rotateY(-3deg);
        -moz-perspective: 300px;
        -moz-transform: rotateY(-3deg);
        -webkit-transform: perspective(300px) rotateY(-3deg);
        outline: 1px solid transparent;
        box-shadow: 5px 5px 20px #333;
        margin: 0;
    }

    .csstransforms3d .book img {
        position: relative;
        border: 0;
        border-left: 5px solid #000;
    }

    .csstransforms3d .book:before,
    .csstransforms3d .book:after {
        position: absolute;
        top: 2%;
        height: 96%;
        content: " ";
    }

    .csstransforms3d .book:before {
        width: 100%;
        left: 7.5%;
        background-color: #000;
    }

    .csstransforms3d .book:after {
        width: 5%;
        left: 100%;
        background-color: #efefef;
        box-shadow: inset 0 0 5px #aaa;
        transform: perspective(300px) rotateY(20deg);
        -moz-transform: rotateY(20deg);
        -webkit-transform: perspective(300) rotateY(20deg);
    }

    .csstransforms3d .book-shadow {
        box-shadow: inset 5px 0 10px 0 #000;
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
    .book img {
        padding-right: 15px;
    }
}

@media all and (max-width: 1024px) {
    .col-truyen-side .list.list-truyen {
        padding: 0;
    }
}

@media all and (max-width: 767px) {
    .info-holder .books {
        height: 150px;
        width: 100px;
        margin: 15px;
        float: left;
    }

    .col-info-desc h3.title {
        padding: 0 5px 7px;
        border-bottom: 0;
        float: none;
        width: 100%;
    }

    .info-holder .info {
        border-right: 0;
        margin-right: 0;
        padding-left: 15px;
        min-height: 123px;
    }
}

@media all and (max-width: 480px) {
    #wrap {
        min-height: calc(100% - 43.5px);
    }

    .list>.row>div,
    .title-list>h2,
    .title-list>h4 {
        padding: 0 5px !important;
    }

    .container {
        padding: 0;
    }

    .header-logo {
        margin-left: 20px;
    }

    .navbar-collapse,
    .navbar-header {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .breadcrumb-container {
        padding: 0 5px;
    }

    .breadcrumb>li+li:before {
        padding: 0 1px;
    }

    .chapter-text span {
        display: none;
    }

    .chapter-text:before {
        display: inline;
        content: "Chương:";
    }

    .l-chapter .l-chapters,
    .list-chapter {
        padding-left: 10px;
    }

    .rate-text {
        display: none;
    }
}


.glyphicon-book:before {
    content: "\1F4D6";
}